<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>掲示板(小)</title>
	<script th:src="@{/js/lib/stomp.js}"></script>
	<script th:src="@{/js/stompUtil.js}"></script>
	<script type="text/javascript">
		$(window).load( function() {
			var reloadPage = function(msg) {
				var dto = JSON.parse(msg.body);
				console.log(dto);
				$.ajax({
					type : "GET",
					url : "/pepper/reception/smalldisplayFragment",
					dataType : "html",
					success : function(data, status, xhr) {
						document.getElementById('smalldisplayFragment').innerHTML = data;
					},
					error : function(XMLHttpRequest, status, errorThrown) {
						// エラー処理
					}
				});
			}
			// websocketで状態変化を受信したらリロード
			StompUtil.prototype.onSubscribeStateChanged = reloadPage;
			var stompUtil = new StompUtil();
			stompUtil.connect.bind(stompUtil);
			stompUtil.connect();
		});
	</script>
</head>
<body>
	<div id="smalldisplayFragment"
		 th:substituteby="reception/smalldisplay_fragment::display_content"
		 th:fragment="smaldisplay_fragment" layout:fragment="content" class="col-sm-12">
	</div>
</body>
</html>
